@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #FFF;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden; /* pra ficar sem a rolagem horizontal */

}

/* estilização do header da página */

.header_page {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    width: 100vw;
    max-width: 1500px;
    margin: 0 auto;
}

.logo_page h1 {
    font-size: 1.3rem;
}

.nav_links {
    display: flex;
    gap: 2rem;
}

.links_nav_bar {
    list-style: none;
}

.links_nav_bar a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: #000427;
    transition: all .2s ease-in-out;
}

.links_nav_bar a:hover {
    text-decoration: none;
    color: #2367C1;
}

.nav_button {
    background: linear-gradient(90deg, rgba(156,98,212,1) 30%, rgba(41,107,195,1) 79%);
    padding: 0.8rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in-out .2s;
}

.nav_button:hover {
    transform: scale(1.1);
    background-color: #000427;
}

.links_nav_bar {
    color: #1C3C78;
    font-weight: 600;
    cursor: pointer;
    transition: ease-in-out .2s all;
}

.links_nav_bar:hover {
    color: #2367C1;
}

#btn_mobile {
    display: none;
}

/* estilização dos titles */

.section_titles {
    color: #2367C1;
    text-align: center;
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
}

/* estilização das sections da página */

.banner_section {
    width: 100vw;
    height: 572px;
    margin-bottom: 3rem;
    background-image: url(../assets/banner/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -45px; /*MIchael: centralizei verticalmente */
    
}

.banner_section img {
    width: 100vw;
    height: 100vh;

}

/* ----- */

.content_row_timeline {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

}

.content_box {
    margin-top: 3.5rem;
    display: flex;
    align-items: center;
    gap: 5rem;
}

#div_edital {
    gap: 2rem;
}

#doc {
    transition: transform .2s;
}
  
#doc:hover {
    transform: scale(1.2);
}
  
.activities_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.content {
    text-align: center;
    max-width: 550px;
    font-size: 1.1rem;
    font-weight: 400;
}

.timeline_dates {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 4rem;
}

.timeline_dates a {
    text-decoration: none;
    color: #000;
}

.timeline_title {
    color: #2367C1;
    font-size: 1.9rem;
}

.content_timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    width: 250px;
    padding: 0.7rem;
    border-radius: 1rem;
    transition: all .25s ease-in-out;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.content_timeline:hover {

    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.35);
    transform: scale(1.2);
}

.sec {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3rem;
}

.organization_section,
.support_section,
.localization_section {
    margin-top: 2rem;
}

.support_section {
    text-align: center;
}

.collum_activities {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.org_members {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1.5rem;
}

.member_container,
.inf_member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.member_container {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.member_container:hover {
    transform: scale(1.06);
}

.inf_member {
    background-color: #2367C1;
    width: 210px;
    padding: 0.2rem;
    color: #EEE;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.35);
}

.member_org_img {
    width: 210px;
    height: 210px;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.35);
}

.img_upe_support {
    width: 200px;
    height: auto;
    margin-top: 40px;
}

.img_support {
    height: 180px;
    width: 180px;
    border-radius: 5%;
    max-width: 100%;
    height: auto;
}

/* classes nova para as imagens grandes */
.img_large {
    height: 180px;
    width: 280px;
  }

.localization_section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.localization_map {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}

.w-localization {
    text-align: center;
}

.w-localization h3 {
    font-size: 1.2rem;
}

.w-localization span {
    font-size: 1rem;
}

/* estilização do footer da página */

.footer_page {
    margin-top: 3rem;
    width: 100vw;
    height: 433px;
    background-color: #2367C1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
}

#banner-footer {
    border-radius: 0.3rem;
    width: 150px;
}

.inf_event {
    display: flex;
    flex-direction: column;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

.flex-child {
    flex: 0 0 25%; /* 4 em cima */
    margin: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 40px;
}  

.contact,
.social_media {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
}

.sm_icon {
    width: 50px;
    margin-top: 1rem;
    transition: all ease-in-out .3s;
}

.sm_icon:hover {
    transform: scale(1.1);
}

.rights_reserved {
    text-align: center;
    margin-top: 2rem;
    color: #FFF;
}
